<h2>hola soy la página donde se van a mostrar las novedades</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque provident 
    tempore molestiae doloribus nihil odio ut, praesentium id recusandae 
    accusamus facilis animi, voluptatum illum nisi laborum beatae earum, 
    sint inventore.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque provident 
    tempore molestiae doloribus nihil odio ut, praesentium id recusandae 
    accusamus facilis animi, voluptatum illum nisi laborum beatae earum, 
    sint inventore.
</p>